useDynLib(CARBayesST)
export(
     ST.CARlinear,
     ST.CARar,
     ST.CARanova,
     ST.CARadaptive,
     ST.CARlocalised
)

S3method(print, carbayesST)
import(spam)
import(MASS)
importFrom(truncdist, rtrunc)
import(Rcpp)
import(stats)
importFrom(coda, mcmc, geweke.diag, effectiveSize)
importFrom(utils, setTxtProgressBar, txtProgressBar)
