useDynLib(CARBayesST)
export(
     ST.KHmain,
     ST.KHinteraction,
     ST.cluster,
     ST.ARCAR,
     ST.ARCARcluster,
     ST.ARCARadaptive,
     results.summarise,
     print.carbayesST
)
import(spam)
importFrom(truncdist, rtrunc)
import(Rcpp)
importFrom(coda, mcmc)